<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로필 페이지</title>
</head>
<body>
    <script>
        console.log("====", {{ thisuser.username }})
    </script>

    {{ thisuser.username }}의 프로필 페이지 ~~
    <a href="{% url 'dogbook:pet_register' %}">
        <input type="button" value="내 반려동물 등록하기">
    </a>
    <a href="{% url 'dogbook:missing' %}">
        <input type="button" value="실종신고 하기">
    </a>
    <form action="{% url 'dogbook:upload_page' thisuser.username %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ thisuser.username }}">
        <input type="submit" value="사진 업로드">
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>File Path</th>
            <th>Upload Date & Time</th>
        </tr>
        {% for file in usrimgs %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.name }}</td>
                <td>{{ file.imagefile.url }}</td>
                <td>{{ file.upload_date }}</td>
                <td><img src="{{ file.imagefile.url }}" id="hihi" /></td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>